[2017-07-27 09:23] romandev opened #1 "Setup build environment for Linux first."
We should support for native build environment. Currently, first target is Linux platform.

[2017-07-27 09:24] romandev opened #2 "Introduce Travis bot for Linux build test."
Once the #1 issue is resolved, then we should introduce Travis bot for build test.

[2017-08-09 20:04] romandev commented on #1
Fixed by https://github.com/lunchclass/bacardi/commit/3f9759bb3a14056f6c606a02053cb7bbab853fe8

[2017-08-09 20:04] #1 closed

[2017-08-09 20:04] romandev commented on #2
https://github.com/lunchclass/bacardi/commit/29de73d61cff27c01b43345e1301a9d43d2f3b1e

[2017-08-09 20:04] #2 closed

[2017-08-11 17:05] romandev opened #3 "Introduce C++ lint and formatter tool."
We should introduce C++ lint and automatic formatter tool.

[2017-08-11 23:22] romandev opened #4 "CalculatorExample: Add() should take arguments and process them."
In the current implementation, Add() method takes arguments in C++ level but exposed JS layer doesn't take arguments and process them. So, we are just passing hard-coded value and it always returns the same value (3).
https://github.com/lunchclass/bacardi/blob/113a0bbd8f3e154e4212bf55e0d5b6e5c93697ca/examples/calculator_bridge.cc#L28

We should make the function process the arguments and convert t

[2017-08-12 04:18] gogag2 commented on #4
If anyone is not assigned yet, can I try it?

[2017-08-13 12:07] romandev commented on #4
Go ahead!

[2017-08-15 06:46] #4 closed

[2017-08-15 06:48] chivalryko opened #10 "Need more test set for CalculatorExample: Sub()"
We need more test set like Sub.
And we should think modularization about common code.

[2017-08-18 18:24] romandev opened #12 "Split binding.gyp into smaller .gypi files."
We need a modulization for binding.gyp.
Reference: https://gyp.gsrc.io/index.md

[2017-08-18 18:25] romandev opened #13 "Do we really need to use GYP build system?"
Do we really need to use GYP build system?
The Chromium projects (including V8) are already moved to GN build system.
If possible, we can consider GN build system or another thing.

[2017-08-18 18:26] romandev opened #14 "Introduce TypeScript for developer performance."
The TypeScript is a language for application-scale JavaScript. It provides many things for developer convenience such as TypeSystem and access modifiers and so on. So, we can consider to introduce TypeScript for developer performance and convenience.

[2017-08-19 16:53] romandev opened #17 "Write a contribution guide for external contributors."
At least, we need the following things:
 - Setup environment for development.
 - Download codes
 - Upload patch
 - Send PR request with review.
 - AUTHORS file.
 - Coding style guide
 - Tools

[2017-08-20 06:12] chivalryko opened #18 "Update nodejs from v8.2.1 to v8.4.0"
We are using napi_create_number() to get double value from C++ code.
But the function was deleted on v8.4.0 and it also didn't work well.
So we need to change it as napi_create_double() that is new api for getting double value.

[2017-08-20 07:02] gogag2 commented on #18
plz assign it to me : )

[2017-08-20 07:28] romandev commented on #18
Go ahead! Thanks

[2017-08-20 11:49] gogag2 commented on #10
I added sub, mul, div function.
We should do modularization for them.

[2017-08-20 14:28] #18 closed

[2017-08-20 18:35] romandev commented on #12
Fixed by #21

[2017-08-20 18:35] #12 closed

[2017-08-20 18:35] romandev commented on #14
Fixed by #21

[2017-08-20 18:35] #14 closed

[2017-08-22 17:31] romandev opened #22 "Implement a simple code generator."
We should implement a simple code generator.
It should take IDL files as an input and print C++ classes that maps with IDL files on the screen.

[2017-08-24 13:06] nadongguri commented on #17
AUTHORS file is already created.
For Setup environment for development, Download codes, Upload patch and Send PR request with review cases, will it be good to explain in wiki or other web page?

[2017-08-24 16:50] romandev opened #26 "Windows build support."
We should add support for windows build.

[2017-08-30 19:01] romandev opened #29 "Should implement NativeTypeTraits."
We need a way to convert JS value to Native value easier.

[2017-08-31 14:32] #22 closed

[2017-08-31 14:32] #29 closed

[2017-09-05 15:27] hwanseung commented on #26
i tried to build at windows. but there is a problem.
after unzip the node.js, it returned 50 error instead of 0.
so it can't pass to next steps.
i tried to build again after changed old version download url.
and it returned 0 normally.
but nightly version was returned 50 error too.

actually i don't know what 50 error means.
is there anyone to know 50 error's mean in win-unzip?

[2017-09-06 00:56] hwanseung commented on #26
maybe i found mean of 50 error. (http://www.info-zip.org/mans/unzip.html - DIAGNOSTICS)
according to that url, my computer spaces was not affordable to unzip.

[2017-09-06 01:16] romandev commented on #26
I know the issue. It happens because the filename(including its fullpath) is too long.
(As I know, in windows, it should be < 255? for a historical reason such as MS-DOS)

In the current implementation, although we are extracting in C:\tmp_{random_number} [1], the error occurs.
So, the path should be shorter. FYI, when I tried it in C:\node (length 7), it's succeeded.

[1] https://github.com/lunch

[2017-09-06 14:04] romandev opened #37 "Migrate the calculator example to C++ code."
The calculator example is written in C++ language but it's also using built-in N-API based on C language.
We introduced node-addon-api in #36, so, we can just replace it with C++ wrapper code fully.

[2017-09-06 14:15] romandev opened #38 "Need a NPM Packaging."
We need a NPM packaging for Bacardi for third-party use.

[2017-09-06 23:37] yjaeseok opened #43 "Need more example"
I think it would be good to think of an example that better explains the effect of bacardi project.
We have only calculator.

[2017-09-07 00:55] romandev commented on #43
It would be very helpful to us :)

[2017-09-07 01:00] romandev opened #44 "Stop using C based N-API."
We already migrated example codes to C++ based N-API but the core/ directory is still using C based N-API.

[2017-09-09 05:16] romandev opened #46 "Replace "Lunch Class Authors" with "Bacardi Authors" in boilerplates."
We should replace "Lunch Class Authors" with "Bacardi Authors" in boilerplates of each files.

**Before** ```Copyright (c) 2017 The Lunch Class Authors.```

**After** ```Copyright (c) 2017 The Bacardi Authors.```

[2017-09-09 05:19] romandev commented on #46
@taxookim, could you follow this issue up?

[2017-09-09 05:23] romandev opened #47 "Need a test framework for C++ codes."
We already write some C++ codes but there are no tests for them.
(Currently, only have JS side tests using Mocha.)
So, we should introduce a test framework (e.g. gtest) for C++ codes.

[2017-09-10 01:55] taxookim commented on #46
yes I can!

[2017-09-10 08:02] #10 closed

[2017-09-10 08:03] romandev commented on #44
This is fixed by https://github.com/lunchclass/bacardi/pull/48

[2017-09-10 08:03] #44 closed

[2017-09-10 08:07] romandev opened #51 "Bridge files should be generated by code generator."
In the current implementation, calculator_bridge.h, calculator_bridge.cc files have been written by our authors. But they should be generated by code generator from now. So, we should implement code generator to fit the example.

[2017-09-10 09:05] romandev opened #53 "Should implement JSTypeTraits."
We should implement JSTypeTraits similar to NativeTypeTraits.
It should provide converted JS value from Native value.
For example, if the Native value is a double type, should return Napi::Number.

[2017-09-10 09:06] romandev commented on #53
This issue is blocking #51.

[2017-09-10 10:43] yjaeseok opened #55 "I got some warning message, in first build"
When I first got the bacardi source download from github and tried it, the following warning occurred.
This warning is likely to be removed.

/home/jake_ubuntu/Workspace/lunchclass/bacardi/node_modules/node-addon-api/napi-inl.h: In instantiation of ‘static Napi::ClassPropertyDescriptor<T> Napi::ObjectWrap<T>::InstanceMethod(const char*, Napi::ObjectWrap<T>::InstanceMethodCallback, napi_property_at

[2017-09-10 11:01] romandev commented on #55
Hi, @yjaeseok, this is not our issue. If you want it, you can try to fix it in upstream. :)

[2017-09-10 11:05] yjaeseok commented on #55
This is about napo issue??

[2017-09-10 11:05] yjaeseok commented on #55
*napi

[2017-09-10 11:10] romandev commented on #55
This is not N-API issue and it's a node-addon-api issue. (C++ Wrapper package)

[2017-09-10 11:18] yjaeseok commented on #55
ohh.. okay i will try it soon :)

[2017-09-10 11:18] #55 closed

[2017-09-11 11:02] #46 closed

[2017-09-11 13:31] romandev commented on #26
Very good!

[2017-09-11 15:13] yjaeseok commented on #47
Could I try this patch?

----------------------------------------------
I think we need to add a Makefile to apply gtest, and we should add gtest as an external module.
Can I do this? Can you give me some advice on what to do?

[2017-09-11 17:01] yjaeseok commented on #26
Cool!!!

[2017-09-11 17:44] yjaeseok commented on #26
Hmm.. T.T
I got some error in My Windows.

C:\Users\Jake\workspace\yjaeseok\bacardi>if not defined npm_config_node_gyp (node "C:\Users\Jake\WORKSP~1\yjaeseok\bacar
di\THIRD_~1\node\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "
" rebuild )
The system cannot find the path specified.
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed

[2017-09-11 17:45] yjaeseok commented on #26
Should I install Node.js first?

[2017-09-11 18:00] romandev commented on #26
Ah, really? what happens?
Hmm, could you try it in c:\bacardi again?
The Windows system can not support looooong path name (it should be < 255).
So, sometimes it can make a trouble in deeper directory.

[2017-09-11 18:01] romandev commented on #26
@yjaeseok, @hwanseung Please check your emails. I added you guys to Bacardi project members.

[2017-09-11 18:08] romandev commented on #26
Also, you MUST run the bacardi command on CMD or PowerShell with Administrator permission.
You can usually find it CMD's context menu (right click menu).

[2017-09-11 18:11] yjaeseok commented on #26
Oh.. sorry, this issue about my mistake!.
I should run CMD as an Administrator permission.

After run CMD as an Administrator permission, it works fine.
(But, I do not have Visual studio, it takes too many times)

[2017-09-14 01:52] daehyunjimmy opened #63 "Need to change fixed code to generated by template"
in interface_header.njk & interface_cpp.njk, fixed code need to be generated by template.

[2017-09-14 01:53] daehyunjimmy commented on #63
I will fix it.

[2017-09-16 06:43] romandev opened #65 "The bacardi.cc should be generated by code generator."
The bacardi.cc and bacardi.h files are in examples directory currently. The file is used to initialize bridge classes but we are not sure what is added newly in the future. Therefore, we should make it be generated automatically.

[2017-09-16 06:52] daehyunjimmy commented on #65
I will handle this issue.

[2017-09-16 07:00] romandev commented on #65
Okay, @daehyunjimmy  Go ahead!

[2017-09-16 07:17] romandev opened #67 "Should add support for static function."
Currently, we are supporting instance method but not support static function.
So, we should support it as follows:
[code]
Then, we can use it as follows:
[code]

[2017-09-16 07:19] romandev opened #68 "Add support basic type conversion."
Currently, we are only supporting |double| type in calculator examples.
But we should support for basic type such as integer, boolean and so on.

[2017-09-16 07:19] romandev commented on #68
@chivalryko PTAL

[2017-09-16 07:20] #51 closed

[2017-09-16 07:20] #53 closed

[2017-09-16 07:21] romandev commented on #26
Can we close this issue?

[2017-09-16 07:21] #63 closed

[2017-09-16 08:16] romandev opened #70 "Should implement constructor in WebIDL."
In the current implementation, we allow to create object in JS side although there is no constructor definition in WebIDL. It's seems a bug. We should allow to create object with constructor in JS side only if there is an explicit constructor in WebIDL level. To resolve the issue, we should implement constructor feature.

[2017-09-16 08:16] romandev commented on #70
@yjaeseok Are you interested in this issue?

[2017-09-16 08:27] yjaeseok commented on #70
Yes I am interested in this issue, But i have some question.

Calculator has only function (looks like static function), so user do not want to use constructor as class.
If we were to show the constructor correctly, would we need an example with member variables and functions or inheritance?

[2017-09-17 02:56] romandev commented on #70
Hi, @yjaeseok
We can add a constructor in Calculator example for now as follows:
[code]
Then, our generator should generate glue codes(bridge codes) and then it should eventually call
developer's cpp constructor.
[code]

Yes, we might need variables and inheritance but it's not ready yet. We can implement them incrementally. :)

[2017-09-17 04:14] yjaeseok opened #72 "Add unit test case for c++ (eg. NativeTypeTraits)"
We need unit test case for c++ classes

[2017-09-17 04:15] yjaeseok commented on #47
This issue is closed.

[2017-09-17 04:43] hwanseung commented on #26
there is one left issue.
it is not still work to use clean command in AppVeyor.

[2017-09-17 15:15] romandev opened #77 "Remove template/example.njk file."
The file is no longer necessary.

[2017-09-17 15:40] romandev opened #78 "Should implement |attributes| feature in Interface."
We should implement |attributes| feature in WebIDL interface.
https://heycam.github.io/webidl/#idl-attributes

[2017-09-17 15:42] romandev opened #79 "Should implement method overloading feature."
We should implement method overloading feature.
https://heycam.github.io/webidl/#idl-overloading

[2017-09-17 15:43] romandev opened #80 "Should implement enum features."
We should implement enum features.
https://heycam.github.io/webidl/#idl-enums

[2017-09-17 17:32] yjaeseok commented on #70
Hmm..
I have tried many ways It seems that it is hard to apply patch because of lack of understand concept. Could you help me with some advise?
 @romandev

[2017-09-17 17:37] yjaeseok commented on #70
How could I get constructor value in template_cpp.njk file?

I think i have to modify idls.ts for idl parsing, but i do not understand how to access constructor parameter like member_info variable.

there is no member_info definition in any files.

[2017-09-17 18:03] romandev opened #82 "We can not use camelCase method name."
In the current implementation, we can not use camelCase naming.
For example, if the camelCase() method is defined in interface as follows:
[code]
Our generator generates codes as follows:
[code]

[2017-09-17 23:47] #47 closed

[2017-09-18 02:07] hwanseung commented on #26
@romandev
i think this issue was resolved and we can close this issue now, but i don't have authority to close this issue. could you change status of this issue?

[2017-09-18 02:11] romandev commented on #26
@hwanseung I've just given the permission. I didn't know that.. Sorry :P

[2017-09-18 02:11] hwanseung commented on #26
finally i got a authority to change status of issue. and i will close this issue.

[2017-09-18 02:11] #26 closed

[2017-09-18 06:14] yjaeseok commented on #82
I try this issue by adding filter. please review :+1:

[2017-09-18 13:38] romandev commented on #70
We might need a new data structure.
For example, we can think the constructor function is a special member of the interface.
It's my own thinking and your design can be different.
[code]

Also, you can get the information from raw_idl_info.extAttrs.
Please see https://github.com/w3c/webidl2.js#extended-attributes

[2017-09-18 14:22] romandev commented on #82
@yjaeseok, Can we close this issue? If so, please close this. Thanks!

[2017-09-18 14:22] yjaeseok commented on #82
This issue is closed.

[2017-09-18 14:22] #82 closed

[2017-09-18 14:38] hwanseung commented on #80
if anyone were not started yet, i will take care of this issue.

[2017-09-18 14:52] yjaeseok commented on #80
Cool~!

[2017-09-18 15:37] romandev commented on #80
Great!

[2017-09-18 15:37] #67 closed

[2017-09-20 15:43] yjaeseok commented on #77
this issue is closed

[2017-09-20 15:44] #77 closed

[2017-09-23 08:35] romandev commented on #65
@daehyunjimmy Are you working on this issue?
If not so, I'll take it?

[2017-09-23 15:49] daehyunjimmy commented on #65
I am working on it. if have problems, I will let you know.
Thanks

[2017-09-27 14:45] hwanseung opened #88 "idl file can have one more interfaces."
idl file can have one more interfaces. but we didn't generate one more bridge classes.

[2017-10-01 15:34] hwanseung opened #94 "support to snake_case filter in nunjucks files."
if interfaces has CamelCase name,
it have to change to snake_case for cpp files name and [Include guards](https://en.wikipedia.org/wiki/Include_guard).
so we should support to snake_case filter in nunjucks files.
present we don't have interface which name is CamelCase.

[2017-10-02 14:10] #43 closed

[2017-10-03 07:06] romandev opened #95 "Add some badges in README.md"
We have already two badges. Travis and AppVeyor. But we still need some additional badges such as Slack link and License link.

So, you can just update the following links in README.md:

https://img.shields.io/badge/License-Apache%202.0-yellowgreen.svg
https://img.shields.io/badge/slack-online-green.svg

[2017-10-03 07:08] romandev commented on #95
@byeolbit PTAL

[2017-10-03 07:19] byeolbit commented on #95
Ok, I’ll take care this issue.

[2017-10-03 07:48] romandev commented on #78
@byeolbit Are u interested in implementing this feature?

[2017-10-03 09:34] hwanseung commented on #88
this issue was resolved.

[2017-10-03 09:34] #88 closed

[2017-10-03 12:59] hwanseung commented on #94
this issue was resolved.

[2017-10-03 12:59] #94 closed

[2017-10-03 13:59] yjaeseok commented on #70
The issue is closed.

[2017-10-03 13:59] #70 closed

[2017-10-03 13:59] yjaeseok commented on #79
Could I take this issue?

[2017-10-03 14:42] romandev opened #98 "Move TypeScript build to gulp."
We are using gyp build but it's very ```쓰레기```. So, I'd like to move TypeScript build to gulp.

[2017-10-03 14:46] romandev opened #99 "Use jest instead of Mocha"
Reason: The readability is better I think. WDYT?

/cc @yjaeseok @hwanseung

[2017-10-03 14:54] romandev opened #100 "Split example test into feature unit tests."
To implement POC ASAP, we didn't consider project structure much, especially, testing part. As the number of contributors grows, we need to write more tests and make the structure robust.

[2017-10-03 14:55] romandev commented on #79
@yjaeseok  Sure, Thank you for your work!

[2017-10-03 14:56] #65 closed

[2017-10-03 15:05] romandev opened #101 "Refactor codes main.ts and idls.ts."
The complexity of the two files has increased, on the other hand, readability has decreased. We should split into smaller files and clear their purpose.

[2017-10-03 15:06] romandev commented on #101
I'll start this work.

[2017-10-03 16:06] yjaeseok commented on #98
I think so too.

[2017-10-03 19:14] hwanseung commented on #99
i looked around jest website. it looks like more simpler to use better than Mocha.

[2017-10-03 19:18] hwanseung commented on #100
i agree. for now testing code and example code are mixed.
so we should split test code from example code.
and that test code should not have coupling with example code.

[2017-10-04 02:28] hwanseung opened #104 "Move bacardi.cc path to core.gypi?"
present bacardi.cc file is auto generated.
actually it is related with idl files. so bacardi.cc path was wrote in example.gypi for gyp build.
(https://github.com/lunchclass/bacardi/blob/master/examples/examples.gypi#L29)

it means bacardi user have to write bacardi.cc file path in their's gypi files.
is it fine? or should we move to that files to core.gypi?
i think it is better to hide auto-genrea

[2017-10-04 03:04] romandev commented on #104
Seems reasonable to me.
But I'm not sure if it should be move to core.
Because the core directory only have C++ core implementation and not generated binding.
So, can we move it to binding.gyp instead?

[2017-10-04 03:05] romandev commented on #104
WDYT?

[2017-10-04 03:19] hwanseung commented on #104
it is looks like better to move binding.gyp instead of core.gypi.
i will make patch.

[2017-10-04 09:07] hwanseung commented on #104
This issue was resolved.

[2017-10-04 09:07] #104 closed

[2017-10-05 21:51] yjaeseok commented on #99
In the case of jest, we can use the latest technology because it is led by facebook.
Also, our project does not use libraries like webstorm or debugger, so it seems to be easy to migrate.

[2017-10-07 04:20] romandev commented on #99
Then, I'll start this work :)

[2017-10-07 04:45] yjaeseok commented on #98
Could I try this patch?

[2017-10-07 07:01] romandev commented on #98
Sure.
Also, there are good reference in Absolute. :)

[2017-10-07 07:02] #95 closed

[2017-10-08 06:29] romandev commented on #78
@byeolbit Ping? Are u working on this work?

[2017-10-08 07:57] romandev opened #120 "Can not use IDL long type as return type."
In the current implementation, we can not use IDL long type as return type. If we add some test method returning long type, the following build error occurs.
[code]
The above error is because there is no template-specialization for long type in JSTypeTraits.
So, if we add the specialization, it works. But it's not a right way I think.
The long type's range might be changed in C++ side depending on

[2017-10-08 07:58] romandev commented on #120
@corona10 Are u interested in this issue?

[2017-10-08 07:59] corona10 commented on #120
Sure!

[2017-10-08 09:01] byeolbit commented on #78
@romandev Sorry for late reply. I just started on this work.

[2017-10-08 15:07] corona10 opened #125 "Auto generate JSTypeTraits"
We need to generate `core/js_type_traits.h` automatically.

[2017-10-08 15:07] corona10 commented on #125
I am working on this :)

[2017-10-08 18:09] romandev opened #129 "Add support for Electron example"
It can be useful for developers.

[2017-10-09 02:23] corona10 opened #130 "Multi platform build"
Since Bacardi provides multi-language bindings for the Node.js native layer.
Building binding layer for multi-platform is the essential feature.

- [ ] Windows -> Linux
- [ ] Windows -> MacOS
- [ ] Linux -> Windows
- [ ] Linux -> MacOS
- [ ] MacOS -> Windows
- [ ] MacOS -> Linux

[2017-10-09 02:25] corona10 commented on #130
One of the candidates from Linux to MacOS is the [osxcross](https://github.com/tpoechtrager/osxcross) by @romandev.

[2017-10-10 14:39] yjaeseok commented on #79
we need to implement overloading feature for member function

[2017-10-12 16:18] hwanseung commented on #129
after meged #135 CL, tests did not run expectedly.
because SimRank codes did not formatting like us coding style.
so when run `./bacardi test` command, it just show message for formatting instead of running test.

[2017-10-13 01:00] hwanseung opened #138 "Tests are not working in CI tools."
Tests are not working in CI tools.
after meged #135 CL, tests were passed in CI tools.
because SimRank codes did not formatting like us coding style.
so when run `./bacardi test` command, it just show message for formatting and skip the tests.

[2017-10-13 01:21] hwanseung commented on #138
i think there are two ways to resolve this issue.
first. except SimRank path when check formatting.
second. reformatting SimRank codes.

second is too easy to resolve. but i think first solution is better.
because SimRanck is not our project. so i don't want to touch SimRank codes.
we have to know how to except some path when formatting.
how do you think? @romandev @yjaeseok

[2017-10-14 02:25] romandev commented on #138
@hwanseung IMHO, the SimRank algorithm is external code, so, I didn't reformat them.
To resolve this issue, we have two options as follows:
- Just formatting them
- Find a way to ignore them

Also, we should change that ```./bacardi format``` returns zero as error code even if there are some reformatable codes.

[2017-10-20 17:29] romandev commented on #98
Is it going well?

[2017-10-20 17:29] romandev commented on #120
Are you working on this? If not so, I can take this issue.

[2017-10-20 17:30] romandev commented on #138
Fixed in #140

[2017-10-20 17:30] #138 closed

[2017-10-20 17:31] #129 closed

[2017-10-20 21:50] yjaeseok commented on #98
I'm sorry. I have tried to fix this patch before, but I can not finish it and it stops. If it is okay, I think you might be interested in this patch.

[2017-10-20 23:35] romandev commented on #98
@yjaeseok What's the problem? If you can explain the problem on Slack or here, I might help you. But if you don't want to continue this work anymore, I can take this.

[2017-10-21 03:02] corona10 commented on #120
@romandev It might be better.

[2017-10-22 02:43] romandev opened #144 "[Meta] RoadMap for feature implementation."
- **Interface Members**
  - [ ] **[P3]** Constants
  - [ ] **[P1]** Attributes
  - [ ] **[P1]** Operations
  - [ ] **[P3]** Stringifiers
  - [ ] **[P3]** Indexed properties
  - [ ] **[P3]** Named properties
  - [ ] **[P1]** Static attributes and operations
  - [ ] **[P1]** Overloading
  - [ ] **[P3]** Iterable declarations
  - [ ] **[P3]** Maplike declarations
  - [ ] **[P3]** Setlike declarations

[2017-10-23 03:07] sunglim commented on #3
Once `.clang-format` with chromium-style format is landed, then we can use `git clang-format` tool.
In other word, `.clang-format` on root directory is the only thing required.

[2017-10-23 05:56] byeolbit opened #146 "Attributes need getter and setter"
In user implementation code, attributes need getter and setter.

e.g.
[code]

[2017-10-23 06:08] romandev commented on #3
@sunglim, Thank you for the guide!

FYI, we are using ```./bacardi format``` command instead of ```git clang-format```.
But it's better to put the .clang-format file on root directory instead of hard-coding.

[2017-10-31 13:06] daehyunjimmy opened #150 "Add byte and octet types"
need to support byte and octet basic types

Byte - the byte type is a signed integer type that has values in the range [-128, 127].
Octet - the octet type is an unsigned integer type that has values in the range [0, 255].

[2017-10-31 17:52] yjaeseok commented on #144
daehyunjimmy is working on byte and octet types. So we need to update it.

[2017-10-31 18:15] yjaeseok opened #152 "Auto execute format and test If needed"
Our test command now exits with a "You should run |bacardi format| command first." message if format is required.

This means that the user must explicitly type the ```bacardi format``` and type the ```bacardi test``` again, which is very annoying.

And some test case failed in AppVeyor if need format.
please refer to link
https://ci.appveyor.com/project/romandev/bacardi/build/1.0.257/job/e32eve5h

[2017-11-01 08:35] romandev commented on #152
I thought that someone might not want to format in development.
For examples, someone might not like this style for some reasons (e.g. too short line-break).
So, I think it's better to separate checking formatting from ```./bacardi test```. WDYT?

[2017-11-01 08:46] yjaeseok commented on #152
So how about providing a command to force and test format, like clean build?

2017. 11. 1. 오후 5:35에 "Jinho Bang" <notifications@github.com>님이 작성:

[2017-11-01 12:22] yjaeseok commented on #152
Hmm okay.

But I think we should fix AppVeyor testing issue.

I think we should run ```./bacardi format``` before ```./bacardi test``` for CI results.

Please refer below AppVeyor results
https://ci.appveyor.com/project/romandev/bacardi/build/1.0.257/job/e32eve5hgrivpnkj

[2017-11-01 14:19] hwanseung commented on #152
if checking format process separate from test command,
we have to run `./bacardi format` before `./bacardi test` in for CI tools.

we would like to merge same formatting code.
so if new patch were not keep our formatting, CI tools result should be fail.

what problem does have at your link AppVeyor results?
i think if that patch were not keep our formatting, that result is correct.

CI tools is no

[2017-11-01 21:29] yjaeseok commented on #152
Ahhh.....

I am so sorry.

This issue is all due to my misunderstanding. In fact, I know that the role of the format command is the purpose for formatting :(.  And I thought format was the same command as clean.

So I mistakenly thought that AppVeyor could cause an error if there were any remaining elements in the previous patch before testing. OMG !!

Anyway, now I understood everything through h

[2017-11-01 21:30] #152 closed

[2017-11-02 01:06] romandev opened #154 "Might need a auto-formatter for nunjucks template"
We really need it but I'm not sure if there is the auto-formatter.

[2017-11-02 01:06] #150 closed

[2017-11-02 01:16] romandev commented on #152
@yjaeseok but do we need a new issue or reopening this issue to separate ```./bacardi format(or lint?)``` from ```./bacardi test```.

[2017-11-02 12:37] yjaeseok opened #155 "Separate test and format command in develop"
I would like to propose to separate ```./bacardi test``` and ```./bacardi format```
commands in develop environment.
Because we generally do not want to check formatting during test.
In other words, most of the developers just want to ```test``` it only.

So, I will separate ```./bacardi test``` and ```./bacardi format.```
Because the AppVeyor test should run format test for fixing formatting erro

[2017-11-02 23:52] romandev commented on #155
I think we need the following things:
```./bacardi test```
```./bacardi lint```
```./bacardi format```

[2017-11-03 03:20] yjaeseok commented on #155
PTAL !! @byeolbit

[2017-11-03 04:28] hwanseung commented on #155
@romandev
what is difference between lint and format command?

[2017-11-03 04:35] byeolbit commented on #155
@yjaeseok I agree to separate `./bacardi format` command from `./bacardi test`
Then, do developers have to check formatting issue before PR?
If so, do they can notice their unformatted code after run AppVeyor?

[2017-11-03 09:58] nadongguri commented on #144
I'd like to implement short, then will try P1 :D

[2017-11-03 14:56] romandev commented on #144
@nadongguri If so, please file a issue first :)

[2017-11-03 14:57] romandev commented on #144
@nadongguri Hmm.. BTW, it's already implemented... sorry for confusing.

[2017-11-04 02:55] nadongguri opened #156 "Add unsigned short"
Need to support unsigned short

[2017-11-04 17:24] usefulhyun opened #158 "Add unsigned long type"
need to support unsigned long type.

[2017-11-04 17:28] yjaeseok commented on #155
@byeolbit Yes they can get an error in AppVeyor environment, when there is an unformatted code.

[2017-11-04 19:24] ryonghyun commented on #158
It does not seems that it is easy for me to add the unsigned long long type.
This is because the maximum number of integer value in Java Script is 9007199254740992.

[2017-11-04 19:48] ryonghyun commented on #158
Adding unsigned long is completed at #160.

[2017-11-05 21:11] #155 closed

[2017-11-08 12:21] daehyunjimmy opened #163 "Add any type"
Need to implement any type

[2017-11-08 21:08] yjaeseok opened #164 "Add lint command color highlight"
When executing the lint command, highlight is removed,
So lint result is not readable.

[2017-11-08 21:47] romandev commented on #164
@yjaeseok Is this good-first-bug? clang-format (not lint) provides the option?

[2017-11-08 21:47] romandev commented on #164
If so, it's better to describe how to do it in details if possible.

[2017-11-08 21:48] yjaeseok commented on #164
Okay  I will add description more detail

[2017-11-08 23:07] romandev opened #165 "Implement dependency resolver"
To be updated design document.

[2017-11-08 23:45] romandev opened #166 "Add `./bacardi pr` command"
We need `./bacardi pr <PR number>` command to cherry-pick a pull request easily.
It can be useful to reviewers especially.

[2017-11-09 00:01] romandev opened #168 "Current camelcase filter doesn't recognize some type name which has space"
Current camelcase filter doesn't recognize some type name which has space.

For example, if the type name is `unsigned short`,
we expect the result of the filter with `unsigned short` as follows:
`UnsignedShort`
But actually got,
`Unsigned short`

[2017-11-09 00:01] romandev commented on #168
/cc @yjaeseok

[2017-11-09 02:16] hwanseung opened #169 "Should implement dictionaries feature."
Should implement dictionaries feature.

[2017-11-09 03:25] nadongguri commented on #164
I will take this issue.

[2017-11-09 05:14] romandev opened #170 "Introduce CLA(Contributor License Agreements) for external contributors."
We might need CLA for contributors to ensure that once someone has provided a contribution, you cannot try to withdraw permission for its use at a later date.
- https://cla.github.com/
- https://cla.developers.google.com/

[2017-11-09 05:44] hwanseung commented on #168
um.. i found that camel case is normally to distinguish with upper camel case and lower camel case.
according to wikipedia(https://en.wikipedia.org/wiki/Camel_case),
camel case is usually means lower camel case.
and there is other term to distinguish with upper camel case and lower camel case.
it is pascal case(https://en.wikipedia.org/wiki/PascalCase).

so i think we have to change terms to disti

[2017-11-09 12:24] hwanseung commented on #168
i will take this issue.

[2017-11-10 11:34] romandev opened #174 "Upgrade Node.js to 8.9.1"
We are using Node.js 8.4.0 in Bacardi project. The version is not stable and doesn't expose N-API.
(It means that the N-API is behind experimental runtime flag in the version)

So, we should upgrade to stable version. Finally, Node.js 8.9.1 LTS(Long Term Support) version was released last week. Therefore, we can move to new version.

[2017-11-10 18:18] #174 closed

[2017-11-10 18:18] #156 closed

[2017-11-10 18:18] #166 closed

[2017-11-10 22:48] yjaeseok opened #176 "Add Issue templates"
There is no template for pull request and issue.
So we can make mistake wrong description.
(eg: There is no ISSUE number in pull request decription)

[2017-11-10 22:49] yjaeseok commented on #176
I will take this issue

[2017-11-10 23:05] hwanseung opened #177 "Explain lint command and pr command in README.md"
lint and command and pr command was added.
these command are not in README.md.
so explain two command in README.md

[2017-11-10 23:20] yjaeseok commented on #164
The currently implemented ```./bacardi lint``` command saves the result of ```./bacardi format --diff``` in the result variable. And then print out the value of result.

For the above reasons,
The text result of ```/bacardi format --diff``` and ```./bacardi lint``` is the same as the text output,
But the color highlight is different.

I think it seems to be good for readability with color highligh

[2017-11-10 23:35] yjaeseok commented on #170
I will try this issue

[2017-11-11 02:05] #3 closed

[2017-11-11 04:02] nadongguri commented on #177
@taxookim, good first bug.

[2017-11-12 04:28] usefulhyun opened #178 "Add unsigned long long type"
Add unsigned long long type
- The unsigned long long type is an unsigned integer type that has values in the range [0, 18446744073709551615].

[2017-11-12 06:32] #158 closed

[2017-11-12 06:52] usefulhyun opened #180 "Add test interface for long and long long types."
The long and long long types only have caculator examples.
So we need to add their test interface and test case.

[2017-11-12 07:54] #178 closed

[2017-11-12 08:10] nadongguri commented on #164
@yjaeseok, I have a question. In order to highlight the result of lint, do I have to make it out modifying echo command or command "bacardi format --diff" to print out?

[2017-11-12 09:14] usefulhyun opened #182 "Add float type and test cases for float and double types."
Implementing ``float`` type is required
And proper test cases for ``float`` and ``double`` type is needed.

[2017-11-13 13:32] nadongguri commented on #182
Those type have been already processed by @gogag2, in this [issue](https://github.com/lunchclass/bacardi/issues/144).
As of now, float is not implemented actually but do we need additional patches for the double implementation?
Also, that table is required to update. :)

[2017-11-14 06:26] ryonghyun commented on #182
I will create a test case that compares precision between double and float.
and there is only one test case for ``double``and which is a weak case.

[2017-11-14 12:30] yjaeseok commented on #164
@nadongguri, Yes I think. if you can run format command once, please run just one time.
If you can`t that`s okay. It is not important

[2017-11-15 06:15] #180 closed

[2017-11-15 13:04] yjaeseok commented on #164
@nadongguri Thank you for your contribution

[2017-11-15 13:04] #164 closed

[2017-11-15 13:23] yjaeseok commented on #170
@romandev Please add CLA file in your gist.
Because CLA file must be added in personal account gist, I think your gist (owners gist) is better than mine.

[2017-11-15 13:24] yjaeseok commented on #170
After then I will add CLA badge in README.md file 👍

[2017-11-16 02:58] #176 closed

[2017-11-17 13:22] nadongguri opened #189 "Creating documents"
**I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [*] support request

I'd like to add those docs as follows from the absolute project.
code_review.md
contributing.md
issue_reporting.md

[2017-11-17 13:32] yjaeseok commented on #189
good !!

[2017-11-19 08:46] romandev commented on #98
I'll take this issue.

[2017-11-19 10:33] yjaeseok opened #191 "Change exit code of clang-format"
**I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

Because clang-format always returns an exit code of 0,
We must check the output of the clang-format as a law string and re-returns exit code 0 or 1.

So I would like to change clang-format exit code.
- There is no need to change format (exit 0).
- There is need to change format (exit 1).

Finally, I want t

[2017-11-19 12:13] yjaeseok commented on #98
@romandev thanks

[2017-11-19 13:32] romandev opened #193 "Move build system from gyp to gulp"
**I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

## General infomration
### Description
We need a new build system instead of `gyp` build system that is too complex.
The `gulp` build system is very popular in Node.js, and it's a good alternative to us because it's very simple and easy to use.

## Context (Environment)
### Operating System
* [x] Linux (x8

[2017-11-20 01:38] nadongguri commented on #193
Wow, already merged to master. :+1:

[2017-11-20 02:07] nadongguri commented on #177
@hwanseung, I guess @taxookim is busy of contributing the absolute project. I will handle it. :)

[2017-11-20 13:37] yjaeseok opened #197 "Fix warning in Examples"
**I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

## General infomration
### Prerequisites
* [x] Are you running the latest version?

### Description
We have some build warnings.

C:\projects\bacardi\core/js_type_traits.h(54): warning C4244: 'argument': conversion from 'int64_t' to 'double', possible loss of data (compiling source file ..\build\Release\ob

[2017-11-20 14:07] daehyunjimmy commented on #197
I will handle this issue. :)

[2017-11-20 14:54] daehyunjimmy commented on #197
now, static Number New (napi_env env, double value)'s parameter type is double.
so, conversion from 'uint64_t' to 'double', could be possible loss of data.

[2017-11-22 14:22] romandev opened #198 "Build error occurs in electron_build"
**I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

## General infomration
### Prerequisites
* [x] Are you running the latest version?

### Description
Build error occurs in `electron_build`.
[code]

### Steps to Reproduce
1. Pull latest codes
2. `./bacardi build_electron`

**Expected behavior:** [What you expect to happen]
Should build successfully.

**Act

[2017-11-22 15:03] romandev opened #200 "`bacardi pr <pull_request_number>` doesn't work well on Windows."
**I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

## General infomration
### Prerequisites
* [x] Are you running the latest version?

### Description
To cherry-pick PR in Bacardi, we can use `./bacardi pr <pull_request_number>` command.
It works well on Linux or Mac but it doesn't work well on Windows.
[code]

### Steps to Reproduce
Run `bacardi pr 195` c

[2017-11-23 00:26] romandev commented on #177
I'm not sure if it's a right thing that `lint` command should be exposed to users.

If there are some lint errors, users can run ./bacardi format command.
So, all lint errors will be fixed. Then, why do we need to expose `./bacardi lint` command to user?

If `./bacardi format` comand doesn't cover all lint errors, it should be exposed. But now I do not think there is a good reason to expose it. IM

[2017-11-23 00:28] romandev commented on #177
Also, I think `pr` command should be updated but it's better to separate document from README.md.
(e.g. contributing guide)

[2017-11-23 00:34] romandev commented on #200
@nadongguri Can you follow-up this patch?
I think you can just replace `[[ $# == 1 ]]` with `[ "$#" = "1" ]`.

[2017-11-23 09:55] nadongguri opened #203 "Source files should be generated by idl generator automatically"
**I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] support request

## General infomration
### Prerequisites
* [x] Are you running the latest version?

### Description
<!@(<(bacardi_command) list_cpp_files --silent) in binding.gyp
doesn't than expected, so actual source file list is defined in
list_generated_cpp_files task in gulpfile.ts.

[2017-11-24 01:34] #200 closed

[2017-11-24 01:36] romandev opened #204 "Unexpected text print out when running `./bacardi`"
**I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

## General infomration
### Prerequisites
* [ ] Are you running the latest version?

### Description
Unexpected text printed.

### Steps to Reproduce
`./bacardi`

**Expected behavior:** [What you expect to happen]
Should not print the following text:
[code]
It can be different on each platforms.

**Actual b

[2017-11-24 10:55] romandev opened #205 "Introduce tslint to lint for TypeScript"
**I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] support request

## General infomration
### Description
We should introduce `tslint` to lint for TypeScript.

## Context (Environment)
### Operating System
* [x] Linux (x86/x64)
* [x] OSX (x86/x64)
* [x] Windows (x86/x64)

[2017-11-25 03:19] #205 closed

[2017-11-25 03:19] #198 closed

[2017-11-25 03:20] #191 closed

[2017-11-25 03:26] romandev opened #207 "Refactor generator codes"
**I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] support request

## General infomration
### Description
As code complexity increases in the current implementation, readability and test coverage has been poor. So, we need to refactor the WebIDL generator.

[2017-11-26 12:10] nadongguri commented on #204
@romandev, I will add that feature.

[2017-11-26 13:02] nadongguri opened #210 ".last_update is not created"
**I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

## General infomration
### Prerequisites
* [x] Are you running the latest version?

### Description
 .last_update is not created whenever I run ./bacardi command on my server.

### Steps to Reproduce
1. git clone https://github.com/lunchclass/bacardi.git
2. ./bacardi
3. check whether .last_update is create

[2017-11-26 13:28] nadongguri commented on #204
@romandev,
Windows : Usage: C:\bacardi\\THIRD_~1\win-bash\basename.exe name [suffix] ?
Linux :
basename: missing operand
Try 'basename --help' for more information.

[2017-11-26 21:22] romandev commented on #210
Hmm.. Can I test in your server? I couldn't reproduce it in my Linux environment.

[2017-11-26 23:58] nadongguri commented on #210
@romandev, I will checl first before using your time :)

[2017-11-27 14:07] nadongguri commented on #210
@romandev, I found it was because of root or sudo command.
root doesn't go through install command in package.json or sudo ./bacardi as well.
I'm not sure this issue is critical or not, WDYT?

[2017-11-29 05:31] romandev commented on #210
@nadongguri Hmm.. it's surprising. There seems to be another problems under `root` account. What should we do?

[2017-12-03 08:16] nadongguri commented on #210
@romandev, there will be a way and I think I will have a change to contribute for upstream.:)

npm WARN lifecycle undefined~install: cannot run in wd %s %s (wd=%s) undefined echo > .last_update /root/github/upstream/bacardi

[2017-12-04 12:10] yjaeseok opened #212 "Fix Test Failed"
**I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

## General infomration
### Prerequisites
* [x] Are you running the latest version?

### Description
[Description of the bug or feature]
When I download latest version
I got some error when I test bacardi project
commitId : d523d7acbf5226c1d9f211f1d80ff76cfa1fb642

### Steps to Reproduce
[code]

**Expected

[2017-12-04 12:30] yjaeseok commented on #212
This is human error!

[2017-12-04 12:30] #212 closed

[2017-12-04 13:12] yjaeseok opened #213 "./bacardi build_electron command make build folder to clean"
**I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

## General infomration
### Prerequisites
* [x] Are you running the latest version?

### Description
When I build bacardi project by ```./bacardi build```
And then ```./bacardi build_electron```
build folder contents are changed to electron results only.
I think user do not think ```./bacardi build_electron

[2017-12-05 08:59] nadongguri opened #214 "Checksum for third-party package(ex: node) is required"
**I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] support request

## General infomration
### Prerequisites
* [x] Are you running the latest version?

### Description
 After downloading of third-packages, we should check whether those are downloaded well by using checksum.

[2017-12-05 14:27] nadongguri opened #215 "Typo in issue_template.md"
**I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] support request

## General infomration
### Prerequisites
* [x] Are you running the latest version?

### Description
 There are typos in issue_template.md file

[2017-12-05 14:28] nadongguri commented on #215
@daehyunjimmy, would you fix this issue?

[2017-12-13 11:59] yjaeseok opened #218 "Implement command line usage"
We need to make command line usage

https://github.com/75lb/command-line-usage

[2017-12-20 06:59] nadongguri commented on #215
Close this issue.

[2017-12-20 06:59] #215 closed

[2018-01-03 13:58] #218 closed

[2018-01-03 13:59] #204 closed

[2018-01-03 13:59] #177 closed

[2018-01-04 00:39] romandev opened #227 "Change directory structures"
## Top-level Directory Structure
- bootstrap
- //binding
- //core
- //docs
- //examples
- //third_party

## Core Directory Structure
- //core/
  - //core/base
  - //core/parser
  - //core/constructor
  - //core/generator
  - //core/generator/template
  - //core/test

## Binding Directory Structure
- //binding
  - //binding/c
  - //binding/cpp
    - //binding/cpp/core
    - //binding/cpp/something

[2018-01-04 00:41] yjaeseok commented on #227
lgtm

[2018-01-31 01:47] nadongguri opened #231 "Support package-private feature"
**I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

## General information
### Prerequisites
* [x] Are you running the latest version?

### Description
 It is required to use package-private feature from Java to Bacardi project even though Typescript seems not supporting this. So, I suggest
1. Adding convention rules : private starts with _, package-private

[2018-02-14 00:10] romandev opened #233 "A bunch of lint errors"
**I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

## General information
### Prerequisites
* [x] Are you running the latest version?

### Description
There were a bunch of lint errors in latest code base. We are not sure why this happened but it's a blocker for many pending patches. We doubt upstream package's change but we should investigate it in detail

[2018-02-14 02:08] nadongguri commented on #233
If you remove ^ for all lint packages in package.json, those issues are gone. :)

[2018-02-18 09:07] nadongguri commented on #227
I'd like to add some suggestions on that.

- source code is in src folder, I am totally fine with the folder tree as above, but separate source code to other folders like template code and documents looks be well organised.
- common modules are placed in base or common folder. The description says base folder is in the core folder, would it be possible to use some modules from core or bindings?
-

[2018-03-12 01:02] nadongguri opened #241 "Suggestion to node-addon-api"

[2018-03-12 03:31] #241 closed